.fundo {
  background: rgb(70, 72, 164);
  background: linear-gradient(232deg, rgba(70, 72, 164, 1) 0%, rgba(36, 114, 144, 1) 96%);
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 28px;
  color: #FFF;
}

.btn {
  background-color: blue;
  border-radius: 16px;
  padding: 10px 24px;
  color: white;
  border-color: white;
  cursor: pointer;
  margin: 24px 0 0 24px;
}

.lista__item {
  background-color: #FFF;
  color: #000;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-align: center;
}

.letraErrada {
  display: none;
  text-transform: uppercase;
}

.letraCerta {
  display: block;
  text-transform: uppercase;
}

.palavra {
  display: flex;
  gap: 2px;
  border: 20px yellow solid;
  margin: 10px;
  text-align: center;
  padding: 24px;
  max-width: 100%;
}